$success: hsl(163, 72%, 41%);
$danger: hsl(356, 69%, 56%);
// social icons color
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$YouTube: hsl(348, 97%, 39%);
// toggler btn
$dark-toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
$light-toggler: hsl(230, 22%, 74%);
// dark theme
$primary-dark: hsl(230, 17%, 14%);
$primary-dark-1: hsl(232, 19%, 15%);
$secondary-dark: hsl(228, 28%, 20%);
$secondary-dark-1: hsl(228, 34%, 66%);
$white: hsl(0, 0%, 100%);
// light theme
$primary-light: hsl(0, 0%, 100%);
$primary-light-1: hsl(225, 100%, 98%);
$secondary-light: hsl(227, 47%, 96%);
$secondary-light-1: hsl(228, 12%, 44%);
$dark: hsl(230, 17%, 14%);
// max-width container
$max-width: 1100px;